body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}
form {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    background: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}
h2 {
    text-align: center;
}
a {
    color: #2980b9;
    text-decoration: none;
}